<section class="main__content">
  <section class="summary">
    <div class="heading">
      <h3>Summary</h3>
    </div>
      <div class="content">
        <!-- <p>Dynamic and results-driven professional with a proven track record of exceeding expectations in [your industry/profession]. Leveraging a unique blend of strategic thinking, innovative problem-solving, and exceptional communication skills, I have consistently delivered impactful solutions in fast-paced and challenging environments. Recognized for my ability to adapt quickly, collaborate effectively, and drive successful outcomes, I bring a passion for [relevant skills or industry expertise]. Adept at [key skills or technologies], I am committed to driving organizational success through a proactive and forward-thinking approach. Eager to contribute my expertise and dedication to a dynamic team focused on achieving excellence and innovation.</p> -->

        <!-- general -->
        <!-- <p>Versatile and driven professional with a proven track record of success across various industries. Adept at adapting to new challenges, collaborating effectively, and achieving results. Possesses strong communication, problem-solving, and organizational skills. Proven ability to learn quickly and contribute positively to diverse teams. Eager to bring a combination of skills, enthusiasm, and dedication to contribute to a dynamic work environment.</p> -->

        <!-- Landscape labourer -->
        <!-- <p>

          Team Player and Service Focus Detailed oriented with great communication skills Ability to handle the heavy lifting with ease Knowledge in maintaining and operating heavy equipment Valid Driver's License Capable of working independently without supervision Able to lift 60lbs and up.
        </p> -->
        <p>As a committed professional, I possess the requisite skills & attributes to excel in a demanding work environment. Capable of working alone or in a team, I am able to get work done with little to no supervision with a high focus on quality and detail. I am equipped with soft skills in the form of excellent communication and customer service.</p>

        <!-- web development -->
        <!-- <p>
          Results-oriented web developer with a proven track record of creating responsive and visually appealing websites. Proficient in front-end and back-end technologies, with a keen eye for user experience. Strong problem-solving skills and a commitment to staying current with the latest industry trends. Dedicated to delivering high-quality, efficient, and scalable web solutions. Eager to contribute technical expertise and innovation to a dynamic team focused on achieving digital excellence.
        </p> -->

        <!-- Amusement and recreation attendants -->
        <!-- <p>Enthusiastic and customer-focused individual with a passion for creating memorable experiences in the amusement and recreation industry. Proven expertise in ensuring guest satisfaction through exceptional communication and service delivery. Adept at handling diverse responsibilities, from ride operation to guest assistance. Eager to contribute my energy, interpersonal skills, and commitment to enhancing the overall enjoyment of patrons in a dynamic amusement and recreation setting.</p> -->

        <!-- Laborer -->
        <!-- <!-- <p>Dynamic and hardworking professional with a proven track record in labor-intensive roles. Known for my strong work ethic, adaptability, and ability to collaborate seamlessly within a team. Proficient in physical tasks, safety protocols, and equipment operation. Eager to bring my hands-on skills and dedication to contribute to a team-driven environment focused on excellence in labor-related endeavors</p> -->
      </div>
  </section>
  <section class="Experience">
    <div class="heading">
      <h3>Experience</h3>
    </div>
      <div class="content">

        <div class="block">
          <div class="row">
            <h4>Construction Laborer</h4>
            <span class="frame">2019 - 2023</span>
          </div>
          <span class="note">National Road Operating and Constructing Company Limited</span>
          <ul class="block__list">
            <!-- <li>Database administration and website design</li>
            <li>Built the logic for a streamlined ad-serving platform that scaled</li>
            <li>Educational institutions and online classroom management</li>
           -->
           <li>Clean and prepare construction sites</li>
           <li>Load or unload building materials</li>
           <li>Build or take apart bracing, scaffolding, and temporary structures.</li>
           <li>Dig trenches, backfill holes, or compact earth</li>
          </ul>
        </div>

        <div class="block">
          <div class="row">
            <h4>Landscape Laborer/Assistant</h4>
            <span class="frame">JUN 2018 - SEP 2018</span>
          </div>
          <span class="note">Milestone Environmental Ltd</span>
          <ul class="block__list">
            <!-- <li>Database administration and website design</li>
            <li>Built the logic for a streamlined ad-serving platform that scaled</li>
            <li>Educational institutions and online classroom management</li> -->
            <li>Plant flowers, shrubs and trees</li>
            <li>Mowing grass and applying fertilizer</li>
            <li>Tree Trimming</li>
          </ul>
        </div>
        <!-- <div class="block">
          <div class="row">
            <h4>WEB CONTENT MANAGER</h4>
            <span class="frame">2014 - 2016</span>
          </div>
          <span class="note">Really Great Company</span>
          <ul class="block__list">
            <li>Database administration and website design</li>
            <li>Built the logic for a streamlined ad-serving platform that scaled</li>
            <li>Educational institutions and online classroom management</li>
          </ul>
        </div> -->
        
      </div>
  </section>
  
</section>

<style>
  .main__content {
    position: relative;
    padding-inline-start: calc(var(--pad) + .8rem);
    padding-inline-end: calc(var(--pad) - .6rem);
    padding-block-start: 3rem;

    section + section {
      margin-top: 1.5rem;
    }

    .heading {
      color: var(--clr-accent);
      font-family: var(--ff-sofia);
      margin-bottom: 1rem;

      h3 {
        text-transform: uppercase;
        letter-spacing: .15rem;
        font-weight: 700;
        margin-bottom: var(--mbottom-header3);
        font-size: var(--header-3);
      }
    }

    .content p {
      line-height: 1.5;
      color: var(--clr-gray-text);
      font-family: var(--ff-mont);
    }

    .content {
      .block + .block {
        margin-top: 3rem;
      }

      .block {
        --space: .5rem;
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          align-items: center;
          margin-bottom: var(--space);
          justify-content: space-between;
        }

        h4, .frame {
          font-size: var(--header-4);
          font-weight: 700;
          font-family: var(--ff-raleway);
          letter-spacing: .1rem;
        }

        .frame {
          font-family: var(--ff-lato);
          margin-top: -.2rem;
          margin-left: 1rem;
        }

        .note {
          color: var(--clr-gray-text);
          font-family: var(--ff-raleway);
          font-size: var(--header-4);
        }

        .block__list {
          list-style-position: inside;
          padding-left: .5rem;
          display: flex;
          flex-direction: column;
          gap: .3rem;
          margin-top: 1rem;

          li {
            font-size: var(--list);
            font-family: var(--ff-mont);
            color: var(--clr-gray-text);
        }
      }
    }
  }

  }
</style>